<h3>CLIENT list</h3>

<table border="1" class="ordertable">
    <tr align="center">
        <td><b>ID</b></td>
        <td><b>Client name</b></td>
        <td><b>email</b></td>
        <td><b>login</b></td>
        <td><b>Tel.number</b></td>
        <td><b>Address</b></td>
        <td><b>Rank</b></td>
        <td><b>Notice</b></td>
        <td><b>Password</b></td>
    </tr>


    {% for var in clients %}
        <tr>
            <td>{{ var['id'] }}</td>
            <td><a href="{{ twigLink('client_one', {'id': var['id']}) }}">{{ var['name'] }} {{ var['surname'] }}</a>
            </td>
            <td>{{ var['email'] }}</td>
            <td><b>{{ var['login'] }}</b></td>
            <td>{{ var['telnumber'] }}</td>
            <td>{{ var['address'] }}</td>
            <td>{{ var['rank'] }}</td>
            <td>{{ var['notice'] }}</td>
            <td>{{ var['pass'] }}</td>
        </tr>
    {% endfor %}
</table>