<h3>Item №{{ id }} </h3>
<br>
<ul>
    <li>Наименование: {{ name }}</li>
    <li>примечание: {{ notice }}</li>
    <li>цвет: {{ цвет }}</li>
    <li>вес: {{ вес }} кг</li>

    {% if мощность %}
    <li>Мощность: {{ мощность }} кВт</li>
    {% endif %}

    <li>дата выпуска: {{ дата }}</li>
    <li><b>цена: {{ цена }} $</b></li>

</ul>
{#
{% if SESSION_id %}
<form method="POST" action="{{ twigLink('item_buy') }}">
    <input type="hidden" name="item_id" value = "{{ id }}"/>
    <input type="hidden" name="user_id" value = "{{ SESSION_id }}"/>
    <button type="submit">BUY RIGHT NOW</button>
</form>
{% endif %}

#}

{% if SESSION_id %}
<form method="POST" action="{{ twigLink('basket_add') }}">
    <input type="hidden" name="item_id" value = "{{ id }}"/>
    <input type="hidden" name="user_id" value = "{{ SESSION_id }}"/>
    <button type="submit">ADD TO YOUR BASKET</button>
</form>
{% endif %}
