<h3>ORDER list</h3>

<table border="1" class="ordertable">
    <tr align="center">
        <td><b>ID</b></td>
        <td><b>Item name</b></td>
        <td><b>Item ID</b></td>
        <td><b>Client name</b></td>
        <td><b>Order create date</b></td>
        <td><b>Order status</b></td>
        <td><b>Send date</b></td>
        <td><b>Receive date</b></td>
    </tr>

    {% for var in orderArr %}

        <tr>
            <td>{{ var['id'] }}</td>
            <td><a href="{{ twigLink('item_one', {'id': var['item_id']}) }}">{{ var['item_name'] }}</a></td>
            <td>{{ var['item_id'] }}</td>
            <td><a href="{{ twigLink('client_one', {'id': var['client_id']}) }}">{{ var['client'] }}</a></td>
            <td>{{ var['date_order'] }}</td>
            <td>{{ var['status'] }}</td>
            <td>{{ var['date_send'] }}</td>
            <td>{{ var['date_receive'] }}</td>
            <td><a href="{{ twigLink('order_edit', {'id': var['order_status_id']}) }}">EDIT ORDER STATUS</a></td>
        </tr>
    {% endfor %}
</table>