<h3 class="cat_string1">ORDERS</h3>
<br>
<table border="1" align="center" class="ordertable text-center">
    <tr align="center" height="40px">
        <td><b>ID</b></td>
        <td><b>Item name</b></td>
        <td><b>Item ID</b></td>
        <td><b>Sum</b></td>
        <td><b>Client name</b></td>
        <td><b>Order create date</b></td>
        <td><b>Order status</b></td>
        <td><b>Send date</b></td>
        <td><b>Receive date</b></td>
        <td><b>Edit / Delete</b></td>
    </tr>

    {% for var in orderArr %}

        <tr>
            <td>{{ var['id'] }}</td>
            <td><a class="pull-left" href="{{ twigLink('item_one', {'id': var['item_id']}) }}">{{ var['item_name'] }}</a></td>
            <td>{{ var['item_id'] }}</td>
            <td>{{ var['sum'] }}</td>
            <td><a class="pull-left" href="{{ twigLink('client_one', {'id': var['client_id']}) }}">{{ var['client'] }}</a></td>
            <td>{{ var['date_order'] }}</td>
            <td>{{ var['status'] }}</td>
            <td><b class="color_red">{{ var['date_send'] }}</b></td>
            <td><b class="color_green">{{ var['date_receive'] }}</b></td>
            <td><a class="btn btn-default btn-xs" href="{{ twigLink('order_edit', {'id': var['order_status_id']}) }}">EDIT Order</a></td>
        </tr>
    {% endfor %}
</table>